.Rproj.user
.Rhistory
.RData
.pdf
.aux
FigureARTISTModDiag-1.pdf
FigureARTISTModDiag-2.pdf
FigureARTISTModSelectDiag-1.pdf
FigureARTISTModSelectDiag-2.pdf
FigureAppliedModDiag-1.pdf
FigureAppliedModDiag-2.pdf
FigureAppliedModSelectDiag-1.pdf
FigureAppliedModSelectDiag-2.pdf
FigureBaseballBinnedScatters2X10-1.pdf
FigureExponentialOriginPlots-1.pdf
FigureFreqBinPlots-1.pdf
FigureFreqLossCompare-1.pdf
FigureFreqLossDemo-1.pdf
FigureOriginOffsetSimulations-1.pdf
FigureOverallSetBars-1.pdf
FigurePCA6plot-1.pdf
FigureScoreHistsByGroup-1.pdf
FigureSimDataScatterplots-1.pdf
FigureSpatialLossCompare-1.pdf
FigureStandardFreqBinning4710none-1.pdf
FigureUniformStripes-1.pdf
Figurebin001-1.pdf
Figurebin025-1.pdf
Figurebin05-1.pdf
Figurebin1-1.pdf
Figurecontext-1.pdf
Figurefirst-1.pdf
FigurefluctuationDiagrams-1.pdf
Figureregprobplot-1.pdf
Figureresiduals2-1.pdf
FigureresidualsARTIST-1.pdf
Figurescatterplots-1.pdf
Figurescatterplots-2.pdf
Figurescatterplots-3.pdf
Figurescatterplots-4.pdf
Figurescatterplots-5.pdf
Figurescatterplots-6.pdf
Figuresidebysidebox-1.pdf
Figuresim2plots-1.pdf
Figuresimhistogrid-1.pdf
Figurespatlossdemo2-1.pdf
Figuretipratehisto-1.pdf
Figurevisual1-1.pdf
Figurevisual2-1.pdf
